version: "3.8"

services:
  db:
    image: mysql:8
    restart: always
    container_name: todo_db
    environment:
      MYSQL_USER: root
      MYSQL_PASSWORD: neversettle
      MYSQL_DATABASE: todoDB
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    container_name: todo_app
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: mysql+pymysql://root:neversettle@db:3306/todoDB
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app

volumes:
  mysql_data:
